body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #512b58;

}

h1 {
    font-family: 'Bad Script', cursive;
    font-size: 60px;
    color: #2a7886;
    margin-bottom: 0;
    
}
h2, h3 {
    font-family: Montserrat;
    color: #2a7886;
}
h5 {
    margin-top: 0;
    font-family: monospace;
    font-size: 20px;
}
.profile {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
}
.profile-img {
    border-radius: 90%;
    position: absolute;
    top: 80px;
    left: 20px;
    
}
.profile-info {
    position: absolute;
    top: 20px;
    left: 300px;
    line-height: 2;
    text-align: justify;
    
}

.skill-row {
    position: static;
    width: 50%;
    margin: auto;
    margin-top: 250px;
    text-align: justify;
}
.skill-img, .ongoing-img {
    border-radius: 100%;
    border: 2px solid white;
    background-color: white;
    width: fit-content;
    
    
        
}
.skill-img:hover, .ongoing-img:hover {
    background-color: gold;
}
.skill-info {
    
}
.ongoing-img {
    border-radius: 90%;   
}
.ongoing-info {
    
}

#hrdiv {
    position: relative;
    background-color: transparent;
    border-style: none none dotted none;
    border-bottom-color: #79bac1;
    border-bottom-width: 12px;
    margin-bottom: 30px;
    top: 250px;
    width: 60%;
}

hr {
    
    background-color: transparent;
    border-style: none none dotted none;
    border-bottom-color: #79bac1;
    border-bottom-width: 12px;
    padding-top: 6rem;
    margin-bottom: 4rem;
    width: 8%;
}

.top-container {
    background-color: #79bac1;
    position: relative;
    padding-top: 100px;
}
.tcloud {
    position: absolute; 
    right: 200px;
    top: 100px;
}
.bcloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.middle-container {
    background-color: #f1f3f4;
    
}

footer {
    background-color: #2a7886;
    color: whitesmoke;
    position: relative;
    text-decoration: none;

}

