body {
    margin: 0;
    text-align: center;
    font-family: monospace;
    color: #512b58;

}
.nav {
    background-color: #2a7886;
    padding: 20px;
    text-decoration: none;
}
a {
    padding-right: 12px;
    color: #f1f3f4;
    text-decoration: none;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
    color: #2a7886;
    margin-top: 0;
    padding-top: 70px;
    margin-bottom: 0;
    z-index: 2;
    
}
h2, h3 {
    font-family: Montserrat;
    color: #2a7886;
}
h5 {
    margin-top: 0;
    font-family: monospace;
    font-size: 20px;
}
.profile {
    position: relative;    
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
}
.profile-img {
    border-radius: 90%;
    position: absolute;
    top: 80px;
    left: 50px;
    
}
.profile-info {
    position: absolute;
    top: 40px;
    left: 260px;
    line-height: 2;
    text-align: justify;
    
}
.hrdiv {
    position: absolute;
    background-color: transparent;
    border-style: none none dotted none;
    border-bottom-color: #79bac1;
    border-bottom-width: 12px;
    padding: 0;
    width: 100%;
    top:400px;
}
.skill-row {
    position: inherit;
    width: 50%;
    height: auto;
    margin: 80px auto 0px auto;
    text-align: justify;
    line-height: 0.8;
    
}

.skill-img {
    float: right;
    margin-left: 30px; 
    
}
.ongoing-img {
    float: left;
    margin-right: 5rem; 
}
.ongoing-info {
    padding-bottom: 50px;
    text-align: right;
}
 
hr {
    background-color: transparent;
    border-style: none none dotted none;
    border-bottom-color: #79bac1;
    border-bottom-width: 12px;
    padding-top: 3rem;
    margin-bottom: 80px;
    width: 8%;
    opacity: 0.3;
}
.top-container {
    background-color: #79bac1;
    z-index: -10;
    position: relative;
    
    
}
.tcloud {
    position: absolute; 
    z-index: 1;
    right: 100px;
    top: 100px;
}
.bcloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}
.middle-container {
    background-color: #f1f3f4;
    
}

.separator {
    background-color: #512b58;
    padding: 2px;
    
}
footer {
    background-color: #2a7886;
    color: whitesmoke;
    text-decoration: none;

}

