body {
    background-color:#f1f3f4;
}

hr {
    
    background-color: transparent;
    border-style: none none dotted none;
    border-bottom-color: #79bac1;
    border-bottom-width: 15px;
    width: 14%;
    
}
h1, h3, p {
    color: #512b58;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 

}

.food {
    border-radius: 100%;
    background-color: white;
}

.food:hover {
    background-color: gold;
}

