</div>
<div class="footer-padding">
  <div class="footer">
    <p> &copy; RAPHAEL MOLINARO - &copy;2020</p>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>